.wrap{
    display: flex;
}
.main{
    width: 52%;
    height: auto;
    padding: 4em;
    font-size: 14px;
    font-family: Helvetica Neue, sans-serif;
}
.siderbar{
    width: 38%;
    height: 700px;
    padding-left: 4%;
    background: black;
}
.header_main{
    padding-bottom: 1em;
}
.header_main a{
    text-decoration: none;
    color: black;
    font-weight: normal
}
.header_main-1{
    font-size: 30px;
    font-weight: 900;
}
.header_main-2:hover{
    opacity: 0.75;
    color:#a73340 ;
}
