/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
.thongtin{
    display:flex;
    margin-top: 3%;
}
.infor-h3{
    font-size: 15px ;
}
.infor-ul li>a{
    text-decoration: none ;
    color:#272727;
    line-height: 2;
    font-size:15px ;
}
.information-tong{
    margin-left: 4%;
    margin-right: 4%;
}
.infor-ul li {
   list-style-type: circle ;
}
.infor-ul{
    width: 178px;
    height: 150px;
}
.information-left{
    float: left;
    display: block ;
    width:100%;
    padding-bottom: 1.5px;
}
.abc{
    width: 95%;
    background-color: gray; 
    height: 0.5px; 
}
.adress{
    display:block;
    float: left;
}
.adress-1{
    
    height: 38px ;
    background-color:#D9EDF7  ;
    padding:  10px ;
 
  color: #212B36;   
}
.adress-1 i{
    width: 24px;
    height: 24px;
}
.adress-2{
    background-color:#F2F5FA ;
    margin-top: 50px ;
   color: #5D5D60;
}
.adress-2 p {
    padding-bottom: 50px;
}
.adress-3{
    text-decoration: none;
    color:#000;
}
.adress-4{
    width: 95%;
    height: 25%;
    border: 10px solid #F2F5FA;
    margin-top: 30px ;
}
.adress-4 p{
    padding-top : 4px;
}
.adress-5{
    width: 333px;
    height: 420px;
    display: block;
}
.adress-6 input{
    width: 290px;
    height: 35px;

}
.adress-6 i{
    float: left;
    display: block;
}
.adress-6{
    margin: 20px;
}